# Remplacer les valeurs ci-dessous par les URLs générées dans les Outputs après votre le déploiement de 
#l'infrastructure CloudFormation. Ces URLs sont essentielles pour que le client puisse envoyer les données 
#au bon endpoint et accéder à la documentation de l'API.
CLOUDFRONT_INGESTION_URL=https://xxxxxxxxx.cloudfront.net/ingest
CLOUDFRONT_DOC_URL=https://xxxxxxxxx.cloudfront.net/index.html